%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{require_min_otp_vsn, "R?15"}.

{deps, []}.

{sub_dirs, ["rel"]}.

%% Rebar Plugins ==============================================================


%% Compiler Options ============================================================
{erl_opts,
 [debug_info,
  warnings_as_errors,
  inline,
  {i, ["include"]}, 
  smp
]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

%% EUnit =======================================================================
{eunit_opts, [
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
