%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{require_otp_vsn, "R?1[7]"}.

{deps, [{rebar_vsn_plugin, ".*",
         {git, "https://github.com/erlware/rebar_vsn_plugin.git",
          {tag, "master"}}}]}.

%% Rebar Plugins ==============================================================
{plugins, [rebar_vsn_plugin]}.

%% Compiler Options ============================================================
{erl_opts,
 [debug_info,
  warnings_as_errors,
  {i, ["include"]}, smp
]}.


%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
