%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, [".."]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "erlcron", "1",
        [
         kernel,
         stdlib,
         sasl,
         erlcron
        ]},
       {rel, "start_clean", "1",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "erlcron"},
       {relocatable, true},
       {debug_info, keep},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src|test)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, erlcron, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "erlcron"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "erlcron/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/erlcron", "bin/erlcron"},
           {copy, "files/erlcron.cmd", "bin/erlcron.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/erlcron.config", "releases/\{\{rel_vsn\}\}/erlcron.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
